<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='inference.css') }}">
    </head>
    <body>
        <h1>Illness</h1>
        <p>
            <form action="{{ url_for('bayes_ill') }}" method='post'>
            <table>
              <tr>
                <td>Variables</td>
                <td>Evidence</td>
                <td>Inference</td>
              </tr>
              {% for key, value in categs.iteritems() %}
              <tr>
                <td>
                  {{ key }}
                </td>
                <td>
                  <select name="{{ key }}">
                      <option selected="selected">None</option>
                      {% for k, v in value.iteritems() %}
                      <option>{{ v }}</option>
                      {% endfor %}
                    </select>
                </td>
                <td>
                  {% if inference is not none %}
                    {{ inference[key] }}
                  {% else %}
                    n/a
                  {%endif %}
                </td>
              </tr>
              {% endfor %}
            </table>
              <input type="submit" value="Submit">
            </form>
        </p>
    </body>
</html>


